{% for watch in cart %}
<div class="row py-3 border-bottom">
    <div class="col-5 px-md-0 px-sm-5 px-3">
        <a href="{% url 'watch' watch.id %}">
            <img src="{{ watch.image.url }}" class="img-fluid rounded img-1x1" alt="Image">
        </a>
    </div>
    <div class="col-7">
        <div class="d-flex flex-column h-100">
            <a href="{% url 'watch' watch.id %}" class="text-decoration-none color-inherit">
                <h6 class="my-0 text-muted">{{ watch.name }}</h6>
            </a>
            <h6 class="fw-bolder fst-italic">${{ watch.price }}</h6>
            <div class="d-flex justify-content-end align-items-end flex-grow-1">
                <form action="{% url 'remove_from_cart' watch.id %}" method="post" class="m-0">
                    {% csrf_token %}
                    <button class="btn btn-danger btn-sm py-0" type="submit">Remove</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% empty %}
<div class="row py-3">
    <div class="col-12">
        <p class="text-muted">Your cart is empty</p>
    </div>
</div>
{% endfor %}
{% if cart|length > 0 %}
<div class="row pt-3">
    <div class="col-12">
        <h5 class="my-0">Total</h5>
        <span class="text-body-secondary">${{ total }}</span>
    </div>
</div>
{% endif %}