{% extends "website/layout.html" %}
{% load static %}

{% block body-class %}
bg-grey
{% endblock %}

{% block body %}
    

    <div class="container-fluid pt-5">
        <div class="container mw-lg">
            <div class="row g-5">
    
                <div class="col-md-5 col-12 order-md-last" id="cartAccordion">
                    {% include 'website/cart_accordion.html' %}
                </div>
    
                <div class="col-md-7 col-12">
                    {% include 'website/checkout_form.html' %}
                </div>
            </div>
        </div>
</div>

{% endblock %}