{% extends "website/layout.html" %}
{% load static %}

{% block body-class %}
bg-grey
{% endblock %}

{% block body %}
    

<div class="container-fluid pt-5">
    <div class="container mw-lg">
        <div class="row g-5">
            <div class="col-md-7 col-12 mx-auto">
                <h1 class="mb-4">Leave us a message</h1>
                <form action="{% url 'contact' 'general' %}" method="post" class="">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name" name="name" placeholder="name" required>
                                <label for="name" class="black">Name</label>
                                <div class="invalid-feedback">
                                    Please provide your name
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="form-floating">
                                <input type="tel" class="form-control" id="phone" name="phone" placeholder="phone" required>
                                <label for="phone" class="black">Phone number</label>
                                <div class="invalid-feedback">
                                    Please provide a valid phone number
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="email" name="email" placeholder="email"
                                    required>
                                <label for="email" class="black">Email</label>
                                <div class="invalid-feedback">
                                    Please provide a valid email
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control h-100 bg-white" placeholder="Tell us what you want." id="message"
                                    name="message" rows="5" required></textarea>
                                <label for="message" class="black">Message</label>
                                <div class="invalid-feedback">
                                    Please provide a message
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="py-2 btn btn-dark old rounded fs-5 w-100 cta-dark">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}