{% extends "website/layout.html" %}
{% load static %}

{% block body-class %}
{% endblock %}

{% block body %}

<div class="container-lg g-md-4 g-0">
    <h1 class="text-center py-5 old text-uppercase">Contact</h1>
    <img src="{% static 'website/images/inventory4.webp' %}" class="img-fluid cover mx-md-auto img-header w-100">
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h2 class="old mb-5">Reach us via</h2>
        </div>
        <div class="col-md-7 mw-lg mx-auto text-center mb-0">
            <h3>Email</h3>
            <p class="fs-4 old mt-3 mb-5"><a href="mailto:deltatimepiecesllc@gmail.com">deltatimepiecesllc@gmail.com</a></p>
            <h3>Call/text</h3>
            <p class="fs-4 old mt-3 mb-0"><a href="tel:870-351-9816">(870) 351-9816</a></p>
        </div>
    </div>
</div>

<div class="container-fluid pb-5 mb-0 bg-grey">
    <div class="container mw-lg pb-5 mb-0">
        <div class="row g-5">
            <div class="col-md-7 col-12 mt-0 mx-auto">
                <h2 class="text-center pb-3 pt-4">Message</h2>
                <form action="{% url 'contact' 'general' %}" method="post" class="">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name" name="name" placeholder="name" required>
                                <label for="name" class="black">Name</label>
                                <div class="invalid-feedback">
                                    Please provide your name
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="form-floating">
                                <input type="tel" class="form-control" id="phone" name="phone" placeholder="phone" required>
                                <label for="phone" class="black">Phone number</label>
                                <div class="invalid-feedback">
                                    Please provide a valid phone number
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="email" name="email" placeholder="email"
                                    required>
                                <label for="email" class="black">Email</label>
                                <div class="invalid-feedback">
                                    Please provide a valid email
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control h-100 bg-white" placeholder="Tell us what you want." id="message"
                                    name="message" rows="5" required></textarea>
                                <label for="message" class="black">Message</label>
                                <div class="invalid-feedback">
                                    Please provide a message
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="py-2 btn btn-dark old rounded fs-5 w-100 cta-dark">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}