{% if request.user.is_superuser %}
<div class="col-12 text-center my-5">
    <div class="alert alert-danger">
        <a class="btn btn-secondary" href="{% url 'edit' watch.id %}" role="button">
            Edit watch
        </a>
        <a class="btn btn-danger" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Delete watch
        </a>
        <ul class="dropdown-menu">
            <div class="d-flex justify-content-center">
                Are you sure?
            </div>
            <hr class="dropdown-divider">
            <div class="d-flex justify-content-center">
                <form action="{% url 'delete_watch' watch.id %}" method="post" class="my-3">
                    {% csrf_token %}
                    <button class="btn btn-danger" type="submit">Yes, delete</button>
                </form>
            </div>
        </ul>
    </div>
</div>
{% endif %}