{% extends "website/layout.html" %}
{% load static %}

{% block body-class %}
bg-grey
{% endblock %}

{% block body %}
    
<div class="container mt-5 pt-5 mw-lg" id="form-container">
    <div class="row">
        <div class="col-md-6 col-12 bg-grey">
            <h2 class="feature">Edit a watch</h2>
            {% include 'website/watch_form.html' %}
        </div>

        {% if watch %}
        <div class="col-md-6 col-12">
            <div class="col-xl-10 col-12 mx-auto">
                <div class="p-2 bg-white rounded">
                    {% include 'website/watch_card.html' with watch=watch all_details=True %}
                </div>

                <div class="row g-1">
                {% for image in watch.secondary_images.all %}
                    <div class="col-3">
                        <img src="{{ image.image.url }}" class="img-fluid mt-3 img-3x4 rounded" alt="Image">
                            <form action="{% url 'delete_image' image.id %}" method="post">
                                {% csrf_token %}
                                <button class="btn btn-danger py-0 btn-sm mt-2" type="submit">Delete</button>
                            </form>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        
        {% include 'website/delete_watch.html' %}
    </div>
</div>

<script>
    // Remove required from all input fields
    document.addEventListener('DOMContentLoaded', () => {
        const inputs = document.querySelectorAll('input');
        inputs.forEach(input => {
            input.removeAttribute('required');
        });
    });
</script>

{% endblock %}