{% extends "website/layout.html" %}
{% load static %}

{% block body %}
    
<div class="container mt-5 pt-5" id="form-container">
    <div class="row">
        <div class="col-md-6 col-12 bg-grey">
            <h2 class="feature">Edit a watch</h2>
            {% include 'website/watch_form.html' %}
        </div>

        {% if watch %}
        <div class="col-md-6 col-12">
            <h2>Preview</h2>
            <div class="col-xl-10 col-12 mx-auto">
                {% include 'website/watch.html' with watch=watch %}
            </div>
        </div>
        {% endif %}
    </div>
</div>

<script>
    // Remove required from all input fields
    document.addEventListener('DOMContentLoaded', () => {
        const inputs = document.querySelectorAll('input');
        inputs.forEach(input => {
            input.removeAttribute('required');
        });
    });
</script>

{% endblock %}