{% extends "website/layout.html" %}
{% load static %}

{% block body %}

<div class="container-fluid" id="banner">
    <div class="row h-100">
        <div class="col-lg-6 col-12" id="banner1">
            <div class="d-flex justify-content-start align-items-end p-lg-5 p-3 h-100 w-100">
                <div class="flex-column m-xxl-5 m-lg-3 m-3">
                    <h1 class="old text-uppercase white fs-1">
                        We're here to help
                    </h1>
                    <p class="white fs-5">
                        The easiest way to buy high-quality luxury watches
                    </p>
                    <button class="px-5 py-2 btn btn-light rounded old cta-light fs-5">
                        Shop now
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-0" id="banner2">
        </div>
    </div>
</div>


{% include 'website/category_section.html' with section_title="New arrivals" watches=newest_watches shop_all_url='inventory' %}

<div class="container g-sm-4 g-0 mt-5">
    <div class="row g-0">
        <div class="col-md-6 col-12 pe-md-0 mt-md-4 d-flex">
            <img src="{% static 'website/images/about.jpg' %}" alt="About us" id="about-img" class="img-fluid cover img-1x1 h-100">
        </div>
        <div class="col-md-6 col-12 ps-md-0 mt-md-4 mt-0 d-flex">
            <div class="d-flex flex-column justify-content-center align-items-start h-100 p-5 bg-pepsi">
                
                <h2 class="text-uppercase old fs-1 white">
                    About us
                </h2>
                <p class="white">
                    We are a family-owned business that has been in the watch industry for over 50 years.
                </p>
                <p class="white">
                    We specialize in high-quality timepieces and offer a wide range of services including repairs, maintenance, and customizations.
                </p>
                <div class="d-flex justify-content-start align-items-center">
                    <div class="d-flex bg-light p-2 rounded">
                        <p class="m-0 fs-6"><a class="blue" href="{% url 'index' %}">Shop all</a></p>
                        <span class="material-symbols-outlined">arrow_forward_ios</span>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

{% include 'website/category_section.html' with section_title="Our picks" watches=our_picks shop_all_url='inventory' %}

<div class="container g-md-4 g-0 mt-5">
    <div class="row g-0">
        <div class="col-12">
            <img src="{% static 'website/images/middle.webp' %}" alt="About us" id="about-img" class="cover img-4x3 img-fluid">
        </div>
    </div>
</div>

{% include 'website/category_section.html' with section_title="Timeless" watches=timeless shop_all_url='inventory' %}

<div class="container g-sm-4 g-0 mt-5">
    <div class="row g-0">
        <div class="col-md-6 col-12 pe-md-0 mt-md-4 d-flex">
            <div class="d-flex flex-column justify-content-center align-items-start h-100 bg-pepsi px-4 py-5">
                <p class="fs-2 white old">Don't see what you are looking for?</p>
                <p class="pb-3 white">Let us find it for you</p>
                <form action="{% url 'index' %}" method="post" class="">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name" name="name" placeholder="name" required>
                                <label for="name" class="black">Name</label>
                                <div class="invalid-feedback">
                                    Please provide your name
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="email" name="email" placeholder="email"
                                    required>
                                <label for="email" class="black">Email</label>
                                <div class="invalid-feedback">
                                    Please provide a valid email
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control h-100 bg-white" placeholder="Tell us what you want." id="message"
                                    name="message" rows="5" required></textarea>
                                <label for="message" class="black">Message</label>
                                <div class="invalid-feedback">
                                    Please provide a message
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="py-2 btn btn-light rounded cta-light fs-5 w-100">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            
        </div>
    </div>
        <div class="col-md-6 col-12 ps-md-0 mt-md-4 mt-0 d-flex">
            <img src="{% static 'website/images/find.jpg' %}" alt="About us" id="about-img" class="img-fluid cover h-100 img-1x1 ">
        </div>
    </div>
</div>

{% include 'website/category_section.html' with section_title="Rare & iconic" watches=rare_and_iconic shop_all_url='inventory' %}

<div class="container-fluid mt-5 py-5 bg-grey mb-0">
    <div class="container mb-0">

        <div class="d-flex justify-content-center align-items-center">
            <p class="fs-2">As featured in</p>
        </div>
        <hr>
        <div class="row g-4">

            <div class="col-md-2 col-4"><a
                    href="https://www.popularmechanics.com/adventure/outdoor-gear/g38483922/best-hunting-jackets/"
                    target="_blank">
                    <div class="o-box o-box--3x2">
                        <div class="o-nobox o-nobox--contain">
                            <img loading="lazy" class="img-fluid"
                                srcset="//duckcamp.com/cdn/shop/files/Popular_Mechanics.png?v=1698862435&amp;width=768 768w"
                                src="//duckcamp.com/cdn/shop/files/Popular_Mechanics.png?v=1698862435&amp;width=768"
                                sizes="" alt="" width="604" height="151">
                        </div>
                    </div>
                </a></div>
            <div class="col-md-2 col-4"><a href="https://gardenandgun.com/feature/gearing-up-for-the-blind/"
                    target="_blank">
                    <div class="o-box o-box--3x2">
                        <div class="o-nobox o-nobox--contain">
                            <img loading="lazy" class="img-fluid"
                                srcset="//duckcamp.com/cdn/shop/files/garden_and_gun_logo.webp?v=1698862626&amp;width=768 768w"
                                src="//duckcamp.com/cdn/shop/files/garden_and_gun_logo.webp?v=1698862626&amp;width=768"
                                sizes="" alt="" width="911" height="140">
                        </div>
                    </div>
                </a></div>
            <div class="col-md-2 col-4"><a href="https://www.mensjournal.com/style/trucker-jackets" target="_blank">
                    <div class="o-box o-box--3x2">
                        <div class="o-nobox o-nobox--contain">
                            <img loading="lazy" class="img-fluid"
                                srcset="//duckcamp.com/cdn/shop/files/Men_s_Journal.png?v=1698862435&amp;width=768 768w"
                                src="//duckcamp.com/cdn/shop/files/Men_s_Journal.png?v=1698862435&amp;width=768"
                                sizes="" alt="" width="642" height="144">
                        </div>
                    </div>
                </a></div>
            <div class="col-md-2 col-4"><a
                    href="https://gearjunkie.com/outdoor/hunt-fish/duck-camps-contact-system-review" target="_blank">
                    <div class="o-box o-box--3x2">
                        <div class="o-nobox o-nobox--contain">
                            <img loading="lazy" class="img-fluid"
                                srcset="//duckcamp.com/cdn/shop/files/GearJunkie.png?v=1698862435&amp;width=768 768w"
                                src="//duckcamp.com/cdn/shop/files/GearJunkie.png?v=1698862435&amp;width=768" sizes=""
                                alt="" width="1130" height="292">
                        </div>
                    </div>
                </a></div>
            <div class="col-md-2 col-4"><a
                    href="https://www.gearpatrol.com/briefings/today-in-gear/g41830441/today-in-gear-11-01-2022/"
                    target="_blank">
                    <div class="o-box o-box--3x2">
                        <div class="o-nobox o-nobox--contain">
                            <img loading="lazy" class="img-fluid"
                                srcset="//duckcamp.com/cdn/shop/files/Gear_Patrol.png?v=1698862435&amp;width=768 768w"
                                src="//duckcamp.com/cdn/shop/files/Gear_Patrol.png?v=1698862435&amp;width=768" sizes=""
                                alt="" width="741" height="115">
                        </div>
                    </div>
                </a></div>
            <div class="col-md-2 col-4"><a
                    href="https://www.fieldandstream.com/gear/best-hunting-clothing-brands/#h-most-comfortable-duck-camp"
                    target="_blank">
                    <div class="o-box o-box--3x2">
                        <div class="o-nobox o-nobox--contain">
                            <img loading="lazy" class="img-fluid"
                                srcset="//duckcamp.com/cdn/shop/files/F_S.png?v=1698862435&amp;width=768 768w"
                                src="//duckcamp.com/cdn/shop/files/F_S.png?v=1698862435&amp;width=768" sizes="" alt=""
                                width="401" height="166">
                        </div>
                    </div>
                </a></div>

        </div>
    </div>
</div>

<div class="container-fluid mb-0 bg-black white old bg-grey">
    <div class="container">
        <div class="row py-5">
            <div class="col-lg-4 col-6">
                <div class="d-flex justify-content-start flex-column">
                    <h2>
                        Directory
                    </h2>
                        <p>
                            <a href="{% url 'index' %}">
                                Home
                            </a>
                        </p>
                        <p>
                            <a href="{% url 'inventory' %}">
                                Shop
                            </a>
                        </p>
                </div>
            </div>
            <div class="col-lg-4 col-6">
                <div class="d-flex justify-content-start flex-column">
                    <h2>
                        Get in touch
                    </h2>
                        <p>
                            <a href="tel:555-555-5555">
                                Phone: 555-555-5555
                            </a>
                        </p>
                        <p>
                            <a href="mailto:deltatimepicesllc@gmail.com">
                                Email: deltatimepieces@gmail.com
                            </a>
                        </p>
                        <p>
                            <a href="#">
                                Address: 225 S Main St, Jonesboro, AR 72405
                            </a>
                        </p>
                </div>
            </div>
            <div class="col-lg-4 col-6">
                <div class="d-flex justify-content-start flex-column">
                    <h2>
                        Follow Us
                    </h2>
                        <p>
                            <a href="tel:555-555-5555">
                                555-555-5555
                            </a>
                        </p>
                </div>
            </div>

            <div class="col-lg-6 col-12 mx-auto">
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{% static 'website/images/logo-full.svg' %}" alt="Logo" class="bg-black img-fluid">
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="s-footer__kicker">
        <div class="d-flex inline-flex justify-content-start align-items-center">
            <div class="s-footer__kicker__copyright">
                © Duck Camp 2024. All Rights Reserved.
            </div>
            <nav class="d-flex inline-flex justify-content-start align-items-center">
                <ul>
                    <p>
                        <a href="#">
                            Privacy Policy
                        </a>
                    </p>
                    <p>
                        <a href="#">
                            Terms &amp; Conditions
                        </a>
                    </p>
                    <p>
                        <a href="/pages/accessibility-statement">
                            Accessibility Statement
                        </a>
                    </p>
                </ul>
            </nav>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {

        // Add elements
        let motto = document.getElementById("banner");
    
        // Reisze the motto background to fit screen
        let height = window.innerHeight // - document.getElementById("nav").clientHeight;
        document.getElementById("banner").style.height = height + "px";

        // Resize the motto's bottom padding due to nav bar height change
        let mastHeadHeight = document.getElementById("nav").clientHeight;
        // document.querySelector("#banner").style.paddingBottom = mastHeadHeight + "px";

        // Phone screen rotation
        if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|instagram|Opera Mini/i.test(navigator.userAgent)) {
            console.log("Mobile");
            let portrait = window.matchMedia("(orientation: portrait)");

            portrait.addEventListener("change", function(e) {
                if(e.matches) {
                    // Portrait mode
                    // Resizing the motto background to the height of the window
                    height = window.innerHeight // - document.getElementById("masthead").clientHeight;
                    document.getElementById("banner").style.height = height + "px";

                } else {
                    // Landscape
                    // Resizing the motto background to the height of the window
                    height = window.innerHeight - document.getElementById("masthead").clientHeight;
                    document.getElementById("banner").style.height = height + "px";

                }
            })
        }
        else {
            window.addEventListener('resize', function() {
                // Reisze the motto background to fit screen
                height = window.innerHeight // - document.getElementById("masthead").clientHeight;
                document.getElementById("banner").style.height = height + "px";

                // Resize the motto's bottom padding due to nav bar height change
                // let mastHeadHeight = document.getElementById("masthead").clientHeight;
                // document.querySelector("#banner div").style.paddingBottom = mastHeadHeight + "px";
            });
        }
    });


</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var nav = document.getElementById('nav');
        var logo = document.getElementById('logo');

        nav.classList.remove('sticky-top');
        nav.classList.add('fixed-top');

        // wait .5 seconds
        setTimeout(function() {
            nav.classList.remove('scrolled');
            logo.classList.remove('invert');
        }, 500);

        window.addEventListener('scroll', function () {
            if (window.scrollY > 150) {
                nav.classList.add('scrolled');
                logo.classList.add('invert');
            } else {
                nav.classList.remove('scrolled');
                logo.classList.remove('invert');
            }
        });
    });
</script>

{% endblock %}