{% extends "website/layout.html" %}
{% load static %}

{% block body %}

    {% include 'website/text.html' %}

    <div class="container-lg g-md-4 g-0">
        <h2 class="text-center py-5 old text-uppercase">Inventory</h2>
        <img src="{% static 'website/images/shop.webp' %}" class="img-fluid cover mx-md-auto img-header w-100">
    </div>
    <div class="container">
        <div class="row" id="inventory">
            {% include 'website/inventory_cards.html' %}
        </div>
    </div>


        <script>
            function filterInventory(tag) {
                var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                fetch(`/inventory/?sort_by=${tag}`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrftoken,
                    },
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        inventory = document.getElementById('inventory');
                        inventory.innerHTML = data.inventory_cards;
                        
                        window.scrollTo(0, inventory.offsetTop -40);
                        window.history.pushState({}, '', `/inventory/?sort_by=${tag}`);
                    }
                });
            }
        </script>


{% endblock %}