{% extends "website/layout.html" %}
{% load static %}

{% block body %}
    

    <div class="container-lg g-md-4 g-0">
        <h2 class="text-center py-5 old text-uppercase">Inventory</h2>
        <img src="{% static 'website/images/inventory.jpg' %}" class="img-fluid cover mx-md-auto img-header w-100">
    </div>
    <div class="container" id="form-container">
        <div class="row">
            <div class="old py-4 fs-4">Inventory</div>
            {% for watch in watches %}
                <div class="col-lg-4 col-md-4 col-6 mt-0 mb-4">
                    {% include 'website/watch_card.html' with watch=watch %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}