
    <div class="d-flex align-items-center py-4 justify-content-between">
        <div class="d-flex">
            <p class="old py-4 m-0 fs-4">Inventory</p>
        </div>
        <div class="d-flex justify-content-end align-items-center black">
            <div class="dropdown">
                <a class="pe-2 fs-6 old dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Sort by: {{ sort_by_tag }}
                </a>
              
                <ul class="dropdown-menu">
                    {% for tag in sort_by_tags %}
                        <li><span class="dropdown-item old" onclick="filterInventory('{{ tag }}')">{{ tag }}</span></li>
                    {% endfor %}
                </ul>
              </div>
        </div>
    </div>
    {% for watch in watches %}
        <div class="col-lg-4 col-md-4 col-6 mt-0 mb-4">
            {% include 'website/watch_card.html' with watch=watch %}
        </div>
    {% endfor %}