{% extends "website/layout.html" %}
{% load static %}

{% block body %}

    <div class="container-lg g-md-4 g-0">
        <h1 class="text-center py-5 old text-uppercase">Sell & Trade</h1>
        <img src="{% static 'website/images/inventory2.jpg' %}" class="img-fluid cover mx-md-auto img-header w-100">
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h2 class="old mb-4">Looking to sell or trade your watch to us?</h2>
                <h3 class="old">How it works:</h3>
                <ol class="my-4">
                    <li class="my-2">Using the form below, supply us with the information we need to provide an accurate estimate on your watch.</li>
                    <li class="my-2">We receive your submission and evaluate your timepiece.</li>
                    <li class="my-2">Our team will reach out with an estimate for your approval.</li>
                    <li class="my-2">After accepting our offer, we will email you a prepaid shipping label to send over your watch and contents to us.</li>
                    <li class="my-2">You receive payment or shipment of your new watch the same day!</li>
                </ol>
            </div>
        </div>
    </div>

    {% include 'website/eval_form.html' with form_type="sell_and_trade" %}

{% endblock %}