{% load static %}
{% load humanize %}

<a href="{% url 'watch' watch.id %}" class="text-decoration-none color-inherit" id="watch-{{ watch.id }}">
    <div class="card product-card mb-3">
        <div class="img-container">
            <img src="{{ watch.image.url }}" alt="Product image"
                class="rounded-0 card-img card-img-top img-3x4 img-zoom object-fit-cover">
            
            <span class="add-to-cart" id="add-to-cart-{{ watch.id }}" onclick="updateCart('{{ watch.id }}', 'add')">
                <button type="submit" class="border-dark-subtle border p-1 btn btn-light rounded-pill old fs-6">
                    <img src="{% static 'website/images/cart_add2.svg' %}" alt="Add to cart">
                </button>
            </span>
        </div>
        <div class="card-body px-0 pb-0">
            <a href="{% url 'watch' watch.id %}" class="text-decoration-none color-inherit">
                <p class="card-title old fs-5 mb-0">{{ watch.name }}</p>
                <div class="d-flex justify-content-between">
                    <p class="card-text mb-4 text-muted">${{ watch.price|intcomma }}</p>
                </div>
                {% if all_details %}
                <p class="fs-6 mb-0 text-muted">Year: {{ watch.year }}</p>
                <p class="fs-6 mb-0 text-muted">Condition: {{ watch.condition }}</p>
                <p class="fs-6 mb-0 text-muted">Contents: {{ watch.contents }}</p>
                <p class="fs-6 mb-0 text-muted">Extra details ⬇ <br><div class="border text-muted text-preserve">{{ watch.details }}</div></p>
                {% endif %}
            </a>
        </div>
        <div class="position-absolute top-0 end-0">
            {% include 'website/edit_button.html' %}
        </div>
    </div>
</a>
