{% extends "website/layout.html" %}
{% load humanize %}

{% block body %}
    
    <div class="container" id="form-container">
        <div class="row pt-5">
            <div class="col-lg-7 col-12">
                <div class="d-flex flex-lg-wrap overflow-auto scrollable-row">
                    {% if images|length == 1 %}
                        {% for image in images %}
                        <div class="col-xl-10 col-lg-12 col-md-8 col-9 p-xxl-4 p-2 mx-auto">
                            <img src="{{ image.url }}" alt="Product image" class=" card-img img-fluid square-img rounded">
                        </div>
                        {% endfor %}
                    {% else %}
                        {% for image in images %}
                        <div class="col-xl-6 col-lg-12 col-9 p-xxl-4 p-2">
                            <img src="{{ image.url }}" alt="Product image" class="card-img img-fluid square-img rounded">
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-5 col-12">
                <div class="sticky-lg-top" style="top: 200px;">
                    <p class="fs-2 old mb-0 text-uppercase">{{ watch.name }}</p>
                    <p class="fs-4 mb-4 text-muted">{{ watch.year }}</p>
                    <h3 class="fs-3">${{ watch.price|intcomma }}</h3>
                    <hr>
                    <button class="py-2 btn btn-dark rounded old cta-dark fs-5 w-100">
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}