{% load static %}
{% load humanize %}

<a href="{% url 'watch' watch.id %}" class="text-decoration-none color-inherit">
    <div class="card product-card mb-3">
        <div class="img-container">
            <img src="{{ watch.image.url }}" alt="Product image"
                class="rounded-0 card-img card-img-top img-1x1 img-zoom object-fit-cover">
            <a href="{% url 'add_to_cart' watch.id %}" class="add-to-cart">
                <button type="submit" class="p-1 btn btn-light rounded-pill old fs-6">
                    <img src="{% static 'website/images/cart_add2.svg' %}" alt="Add to cart">
                </button>
            </a>
        </div>
        <div class="card-body px-0 pb-0">
            <a href="{% url 'watch' watch.id %}" class="text-decoration-none color-inherit">
                <p class="card-title old fs-5 mb-0">{{ watch.name }}</p>
                <div class="d-flex justify-content-between">
                    <p class="card-text m-0 text-muted">${{ watch.price|intcomma }} • {{ watch.year }}</p>
                </div>
            </a>
        </div>
        <div class="position-absolute top-0 end-0">
            {% include 'website/edit_button.html' %}
        </div>
    </div>
</a>
