{% load static %}
{% load humanize %}

<a href="{% url 'watch' watch.id %}" class="text-decoration-none color-inherit">
    <div class="card">
        <!-- <img src="{% static '{{ watch.image }}' %}" alt="Product image" class="card-img card-img-top"> -->
        <div class="img-container">
            <img src="{{ watch.image.url }}" alt="Product image" class="card-img card-img-top square-img img-zoom object-fit-cover">
        </div>
        <div class="card-body px-0">
            <p class="card-title old fs-5 mb-0">{{ watch.name }}</p>
            <div class="d-flex justify-content-between">
                <p class="card-text m-0 text-muted">${{ watch.price|intcomma }} • {{ watch.year }}</p>
                <!-- <p class="card-text m-0">1967</p> -->
            </div>
            <!-- <div class="d-flex justify-content-between">
                <p class="card-text m-0"><small class="text-muted">$10,000</small></p>
                <p class="card-text m-0"><small class="text-muted">1967</small></p>
            </div> -->
        </div>
    </div>
</a>